body {
  font-family: Arial;
  text-align: center;
  background: #f0f0f0;
}

.buttons {
  margin: 20px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  background: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  width: 160px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
}  